<template>
  <div class="c-chart">
    <h3>Подписчики</h3>
    <div ref="area" id="area"></div>
  </div>
</template>

<script>
import * as d3 from "d3";
import { chartWidth, chartHeight } from '@/constants'

export default {
  name: "HelloWorld",
  props: {
    data: Array
  },
  computed: {
    chartData() {
      return this.timeParse();
    }
  },
  watch: {
    chartData: "updateChart"
  },
  mounted() {
    this.buildChart();
  },
  methods: {
    buildChart() {
      this.margin = { top: 10, right: 30, bottom: 30, left: 60 },
      this.width = chartWidth - this.margin.left - this.margin.right,
      this.height = chartHeight - this.margin.top - this.margin.bottom

      const svg = d3
        .select("#area")
        .append("svg")
        .attr("width", "100%")
        .attr("height", "100%")
        .attr(
          "viewBox",
          "0 0 " +
            `${this.width + this.margin.left + this.margin.right}` +
            ` ${this.height + this.margin.top + this.margin.bottom}`
        )
        .attr("preserveAspectRatio", "xMinYMin meet")
        .append("g")
        .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")");

      const defs = svg.append("defs");

      const gradient = defs
        .append("linearGradient")
        .attr("id", "svgGradient")
        .attr("x1", "0%")
        .attr("x2", "100%")
        .attr("y1", "0%")
        .attr("y2", "100%");

      gradient
        .append("stop")
        .attr("class", "start")
        .attr("offset", "60%")
        .attr("stop-color", "var(--main-color-a)")
        .attr("stop-opacity", 1);

      gradient
        .append("stop")
        .attr("class", "end")
        .attr("offset", "100%")
        .attr("stop-color", "snow")
        .attr("stop-opacity", 1);

      const x = d3
        .scaleTime()
        .domain(d3.extent(this.chartData, d => d.x))
        .range([0, this.width]);

      this.xAxis = svg
        .append("g")
        .attr("transform", "translate(0," + this.height + ")")
        .call(
          d3
            .axisBottom(x)
            .ticks(d3.timeDay)
            .tickFormat(d => `${d.getDate() - 1} день`)
        );

      const y = d3
        .scaleLinear()
        .domain([0, d3.max(this.chartData, d => d.y)])
        .range([this.height, 0]);

      this.yAxis = svg.append("g").call(d3.axisLeft(y).ticks(5));

      // area
      this.area = svg
        .append("path")
        .datum(this.chartData)
        .attr("fill", "url(#svgGradient)")
        .attr("stroke", "none")
        .attr(
          "d",
          d3
            .area()
            .x(function(d) {
              return x(d.x);
            })
            .y0(this.height)
            .y1(function(d) {
              return y(d.y);
            })
            .curve(d3.curveMonotoneX)
        );

      // line
      this.path = svg
        .append("path")
        .datum(this.chartData)
        .attr("fill", "none")
        .attr("stroke", "var(--main-color-dark)")
        .attr("stroke-width", 4)
        .attr(
          "d",
          d3
            .line()
            .x(function(d) {
              return x(d.x);
            })
            .y(function(d) {
              return y(d.y);
            })
            .curve(d3.curveMonotoneX)
        );

      // vertical dotted lines
      this.verticalLines = svg
        .selectAll("dot")
        .data(this.chartData)
        .enter()
        .append("line")
        .attr("data-date", d =>
          this.chartData.findIndex(data => data.x === d.x)
        )
        .attr("class", "line")
        .attr("x1", d => x(d.x))
        .attr("x2", d => x(d.x))
        .attr("y1", this.height)
        .attr("y2", 0)
        .attr("stroke", "var(--gray-300)")
        .attr("stroke-width", 1)
        .attr("stroke-dasharray", 4)
        .attr("fill", "none");

      // dots
      this.dots = svg
        .selectAll("dot")
        .data(this.chartData)
        .enter()
        .append("circle")
        .attr("cx", function(d) {
          return x(d.x);
        })
        .attr("cy", function(d) {
          return y(d.y);
        })
        .attr("r", 5)
        .attr("stroke", "var(--main-color-dark)")
        .attr("stroke-width", 3)
        .attr("fill", "white")
        .on("mouseover", (e, d) => {
          const idx = this.chartData.findIndex(data => data.x === d.x);
          e.target.setAttribute("fill", "var(--main-color-dark)");
          this.$refs.area
            .querySelector(`.line[data-date="${idx}"]`)
            .setAttribute("stroke", "var(--gray-400)");
        })
        .on("mouseout", (e, d) => {
          const idx = this.chartData.findIndex(data => data.x === d.x);
          e.target.setAttribute("fill", "snow");
          this.$refs.area
            .querySelector(`.line[data-date="${idx}"]`)
            .setAttribute("stroke", "var(--gray-300)");
        });
    },
    updateChart() {
      const x = d3
        .scaleTime()
        .domain(d3.extent(this.chartData, d => d.x))
        .range([0, this.width]);

      this.xAxis
        .attr("transform", "translate(0," + this.height + ")")
        .call(
          d3
            .axisBottom(x)
            .ticks(d3.timeDay)
            .tickFormat(d => `${d.getDate() - 1} день`)
        );

      const y = d3
        .scaleLinear()
        .domain([0, d3.max(this.chartData, d => d.y)])
        .range([this.height, 0]);

      this.yAxis.call(d3.axisLeft(y).ticks(5));

      this.area
        .datum(this.chartData)
        .transition()
        .duration(700)
        .attr(
          "d",
          d3
            .area()
            .x(function(d) {
              return x(d.x);
            })
            .y0(this.height)
            .y1(function(d) {
              return y(d.y);
            })
            .curve(d3.curveMonotoneX)
        );

      this.path
        .datum(this.chartData)
        .transition()
        .duration(700)
        .attr(
          "d",
          d3
            .line()
            .x(function(d) {
              return x(d.x);
            })
            .y(function(d) {
              return y(d.y);
            })
            .curve(d3.curveMonotoneX)
        );

      this.verticalLines
        .data(this.chartData)
        .attr("x1", d => x(d.x))
        .attr("x2", d => x(d.x))
        .attr("y1", this.height)
        .attr("y2", 0)

      this.dots
      .data(this.chartData)
        .transition()
        .duration(700)
        .attr("cx", function(d) {
          return x(d.x);
        })
        .attr("cy", function(d) {
          return y(d.y);
        })
    },
    timeParse() {
      return this.data.map(data => {
        return { x: d3.timeParse("%Y-%m-%d")(data.x), y: data.y };
      });
    }
  }
};
</script>

<style scoped>
.c-chart {
  border: 1px solid var(--gray-300);
  padding: 0.2rem;
}
h3 {
  margin-left: 0;
  font-weight: 500;
  margin-left: 1rem;
  font-size: 1rem;
}
@media (min-width: 640px) {
  h3 {
    margin-left: 2rem;
    font-size: 1.25rem;
  }
  .c-chart {
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    padding: 0.5rem;
  }
}
@media (min-width: 1024px) {
  h3 {
    display: none;
    margin-left: 2rem;
  }
}
</style>
<style>
#area svg {
}
</style>
