<template>
  <div class="c-pricer">
    <div class="c-text">
      Введите сумму, чтобы узнать прогноз по подписчикам и просмотрам
    </div>
    <div class="o-flex-container">
      <div class="c-rouble">
        <span style="margin-top: 0.2rem">₽</span>
      </div>
      <input @input="handleInput" :value="price" class="c-input" type="number" />
      <div class="c-currency">
        руб.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pricer',
  props: {
    price: Number
  },
  methods: {
    handleInput({target}) {
      this.$emit('input', Number(target.value))
    }
  }
}
</script>

<style scoped>
.o-flex-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.c-pricer {
  height: 100%;
  background: var(--gray-300);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.c-rouble {
  border-radius: 100%;
  border: 1px solid var(--main-color-dark);
  color: var(--main-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  min-width: 1.8rem;
  min-height: 1.8rem;
  max-width: 1.8rem;
  max-height: 1.8rem;
  margin-right: 1rem;
}
@media (min-width: 640px) {
  .c-pricer {
    border-radius: var(--border-radius);
  }
}
.c-input {
  flex: 1 1 auto;
  padding: 0.5rem 0.7rem;
  font-size: 1.25rem;
  height: 2.5rem;
  width: 100%;
  min-width: 0;
}
.c-currency {
  margin-left: 1rem;
}
.c-text {
  font-size: 1rem;
  line-height: 1.5;
}
</style>
