<template>
  <div class="c-statistics">
    <div class="c-change">
      +{{ change }}
    </div>
    <div class="c-text">
      {{ text }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Statistics',
  props: {
    change: Number,
    text: String
  }
}
</script>

<style scoped>
.c-statistics {
  border-radius: var(--border-radius);
  height: 100%;
  text-align: center;
  padding: 1rem;
  background: var(--main-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-change {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  margin-bottom: 0.5rem;
}
.c-text {
  color: var(--gray-600);
  font-size: 0.875rem;
}
@media (min-width: 640px) {
  .c-change {
    font-size: 1.5rem;
  }
  .c-text {
    font-size: 1rem;
  }
}
</style>
