<template>
  <div class="o-grid o-container" id="app">
    <h1 class="o-grid__title">Прогноз продвижения</h1>
    <div class="o-grid__text c-text u-mr--20p">Мы пользуемся только официальными инструментами рекламы, рекомендуемыми самим YouTube, поэтому все приведенные нами просмотры, лайки и комментарии будут настоящими, а подписчики живыми и заинтересованными в тематике вашего канала</div>
    <div class="o-grid__pricer u-mr--20p">
      <Pricer :price="price" v-model="price" />
    </div>
    <div class="o-grid__statistics c-statistics-wrapper">
      <div class="c-statistics-wrapper__item">
        <Statistics :change="views" text="просмотров" />
      </div>
      <div class="c-statistics-wrapper__item">
        <Statistics :change="subs" text="подписчиков" />
      </div>
    </div>
    <div class="o-grid__chart">
      <Chart :data="chartData" />
    </div>
    <div class="o-grid__bottom-text c-text c-text--bottom u--mr-20p">
      Прогноз подписчиков зависит от вашего контента<br />
      Сделайте его интересным и старайтесь не снижать планку
    </div>
  </div>
</template>

<script>
import Pricer from './components/Pricer.vue'
import Statistics from './components/Statistics.vue'
import Chart from './components/Chart.vue'

export default {
  name: 'App',
  components: {
    Pricer,
    Statistics,
    Chart
  },
  data() {
    return {
      subs: 0,
      views: 0,
      price: 10000,
      chartData: [
        { x: '2020-09-01', y: 0 },
        { x: '2020-09-02', y: 0 },
        { x: '2020-09-03', y: 0 },
        { x: '2020-09-04', y: 0 },
        { x: '2020-09-05', y: 0 },
        { x: '2020-09-06', y: 0 },
        { x: '2020-09-07', y: 0 },
        { x: '2020-09-08', y: 0 }
      ]
    }
  },
  watch: {
    price: 'handlePriceChange'
  },
  mounted() {
    this.handlePriceChange()
  },
  methods: {
    handlePriceChange() {
      this.subs = Math.round(this.price / 100)
      this.views = Math.round(this.subs * 90 * Math.random())
      if(this.subs === 0) {
        this.subs = 1
        this.views = 1
      }
      this.chartData = this.chartData.map((data, i) => {
        return {x: data.x, y: this.subs * (i + 1) * Math.random()}
      })
    },
  }
}
</script>

<style scoped>
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.o-grid {
  display: grid;
  grid-template-areas:
    "title"
    "text"
    "pricer"
    "statistics"
    "chart"
    "bottomtext";

  gap: 1rem;
}
.o-grid__title {
  grid-area: title;
}
.o-grid__text {
  grid-area: text;
}
.o-grid__pricer {
  grid-area: pricer;
}
.o-grid__statistics {
  grid-area: statistics;
}
.o-grid__chart {
  grid-area: chart;
}
.o-grid__bottom-text {
  grid-area: bottomtext;
}
h1 {
  margin-bottom: 0;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.c-text {
  color: var(--gray-500);
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 0 2rem;
  margin: 1.2rem 0 1.5rem 0;
}
.c-text--bottom {
  text-align: left;
}
.c-statistics-wrapper {
  display: flex;
  justify-content: center;
}
.c-statistics-wrapper__item {
  width: 100%;
  max-width: 150px;
}
.c-statistics-wrapper__item:not(:first-of-type) {
  margin-left: 1rem;
}
@media (min-width: 640px) {
  .o-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title title"
      "text text"
      "pricer statistics"
      "pricer statistics"
      "chart chart"
      "bottomtext bottomtext";

    gap: 1rem;
  }
  h1 {
    font-size: 1.875rem;
  }
  .c-statistics-wrapper {
    display: flex;
    flex-direction: column;
  }
  .c-statistics-wrapper__item {
    max-width: 300px;
  }
  .c-statistics-wrapper__item:not(:first-of-type) {
    margin-top: 1rem;
    margin-left:0;
  }
}
@media (min-width: 1024px) {
  .o-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "text statistics"
      "pricer chart"
      "bottomtext  chart";

      gap:0;
  }
  .o-grid__statistics {
    justify-self: end;
    align-self: end;
  }
  .c-statistics-wrapper {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .c-statistics-wrapper__item {
    max-width: 300px;
    min-width: 180px;
    max-height: 90px;
  }
  .c-statistics-wrapper__item:not(:first-of-type) {
    margin-top: 0;
    margin-left: 1rem;
  }
  h1 {
    font-size: 1.875rem;
    margin-bottom: 2rem;
  }
  .c-text {
    text-align: left;
    margin-bottom: 2rem;
    padding: 0;
  }
  .c-text--bottom {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .u-mr--20p {
    margin-right: 20%;
  }
}
</style>

<style>
:root {
  --main-color-light: hsl(262,82%,93%);
  --main-color-a: hsl(262,82%,93%, 0.7);
  --main-color-dark: hsl(260, 51%, 52%);
  --gray-300: hsl(225,26%,91%);
  --gray-400: hsl(225,5%,81%);
  --gray-500: hsl(231,6%,46%);
  --gray-600: hsl(240,1%,33%);


  --border-radius: 0.25rem;
}
html,body,* {
  box-sizing: border-box;
}
html,body {
  margin:0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
.o-container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .o-container {
    max-width: 640px;
  }
  #app {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .o-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .o-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .o-container {
    max-width: 1280px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
